* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}


a {
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

